<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.abstractionizer.login.uuid1.db.rmdb.mappers.UserMapper">

    <update id="updateStatus">
        UPDATE user
        SET status = #{status}
        WHERE id = #{id}
    </update>
    <update id="updateUserInfo">
        UPDATE user
        <set>
            <if test="bo.username != null and bo.username != ''">
                username = #{bo.username},
            </if>
            <if test="bo.email != null and bo.email != ''">
                email = #{bo.email},
            </if>
            <if test="bo.phone != null and bo.phone != ''">
                phone = #{bo.phone},
            </if>
        </set>
        WHERE id = #{id}
    </update>
    <update id="changePassword">
        UPDATE user
        SET password = #{password}
        WHERE id = #{id}
    </update>
    <update id="updateLastLoginTime">
        UPDATE user
        set last_login_time = #{lastLoginTime}
        WHERE id = #{id}
    </update>

    <select id="countByIdOrUsername" resultType="java.lang.Integer">
        SELECT COUNT(id)
        FROM user
        <where>
            <if test="id != null or id > 0">
                AND id = #{id}
            </if>
            <if test="username != null and username != ''">
                AND username = #{username}
            </if>
        </where>
    </select>
    <select id="getByIdOrUsername" resultType="com.abstractionizer.login.uuid1.db.rmdb.entities.User">
        SELECT *
        FROM user
        <where>
            <if test="id != null and id > 0">
                AND id =#{id}
            </if>
            <if test="username != null and username != ''">
                AND username = #{username}
            </if>
        </where>
    </select>
    <select id="getUserInfoById" resultType="com.abstractionizer.login.uuid1.models.dto.UserInfo">
        SELECT id, username, email, phone, status
        FROM user
        WHERE id = #{id}
    </select>
</mapper>